<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="DB" connectionString="Data Source=192.168.0.85;User ID=rd_test;Password=rdtest;persist security info=False;initial catalog=qpmts" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>